.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.card {
  margin: 25px;
  width: 25%;
}

#winner-img {
  margin: auto;
}

.list-group {
  margin: auto;
  width: 25%;
}

.icon-right {
  float:right;
  display: block;
  margin-left: 10px;
}

.badge-primary {
  color: #fff;
  background-color: #007bff;
}

.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}